.price-range-block{margin:15px 5px;padding-right:45px;}
.sliderText{width:40%;margin-bottom:30px;border-bottom:2px solid red;padding:10px 0 10px 0px;font-weight:bold;}
.ui-slider-horizontal{height:10px;}
.ui-slider-horizontal{margin-bottom:15px;width:100%;}
.ui-widget-header{border:0;background:transparent;}
.ui-widget-header{background:#ff3e6c;}
.price-range-search{width:40.5%;background-color:#f9f9f9;border:1px solid #6e6666;min-width:40%;display:inline-block;height:32px;border-radius:5px;float:left;margin-bottom:20px;font-size:16px;}
.price-range-field, .price-range-field:hover{outline:0;width:44%;min-width:16%;background-color:#fff;border:1px solid #e1e1e1;color:#2a2a2a;border-radius:0px;padding:8px 10px;-webkit-appearance:none;-moz-appearance:textfield;appearance:none;text-align:center;}
.search-results-block{position:relative;display:block;clear:both;}
.price-range-block div span{color:#e0e0e0;}
.ui-slider-horizontal .ui-slider-handle{top:-.34em;border-radius:100%;outline:0;background:#ff3e6c;border:2px solid #fff;width:20px;height:20px;z-index:999;}
.ui-widget.ui-widget-content{border:0;background:#a6a6a6;}
.ui-corner-all{border-radius:0;}